.frame {
    height: 310px;
    width: 100%;
    background-image: url('./image/iStock_000080173561_Medium-1024x682\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: 100% 300px;
    filter: brightness(60%);
    padding:5px;
}

.frame h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: red;   
    text-align: center;
}

.picture {
    height: 500px;
    width: 100%;
    background-image: url('./image/istock_kids_stem\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: 100% 300px;
    /* filter: brightness(50%); */
    filter: brightness(70%);
}

.picture pre {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.input {
    background-color: #1978D0;
    width: 150px;
    height: 40px;
    margin-left: 800px;
    border-radius: 80px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.text h1{
    font-size: 20px;
    line-height: 38px;
    color: white;
    margin-bottom: 8px;
    margin-left: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.backgroundColor{
    width: 30px;
    height: 30px;
    background: #96A0FC;
    border-radius: 30px;

}
.backgroundColor p {
    margin-left: 10px;
}
.background  p{
    width: 30px;
    height: 30px;
    background: rgba(196, 196, 196, 0.2);
    border-radius: 30px
}
.item {
    height:40px;
    width: 40px;
    border-radius: 30px;
    position: relative;
}
.allNumbers p {
    margin:0;
    position: absolute;
    left: 11px;
    bottom: 1px;
} 
.allNumbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
}
 
.page-selected {
    background-color: #96A0FC;
}
.text-book {
    background-color: rgba(119, 111, 111, 0.1);
    height: 310px;
    width: 100%;
    font-size: 20px;
    padding:50px;
    display: flex;
    flex-direction: row;
}
.size-picture img {
    width: 300x;
    height: 300px;
    padding: 50px;
}
#navbar {
    background-color: #DFDEFD;
    width: 100%;
    height: 106.46px;
    display: flex;
    justify-content: space-between;
}

#image img {
    width: 104px;
    height: 54px;
    margin: 22px;
    border-radius: 10px;
}

.header {
    margin-top: 8px;
    margin-left: 12px;
    padding: 12px;
}

.header a {
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
}

.signin button {
    margin: 15px 8px;
    width: 197.98px;
    height: 57.15px;
    border: 1px solid #1978D0;
    box-sizing: border-box;
    border-radius: 88px;
    background: #1978D0;
    color: #ffffff;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    font-family: 'Muli', 'sans-serif';
}

.signin a {
    text-decoration: none;
    color: #ffffff;
}
*{
    padding: 0px;
    margin: 0px;
}